*{
    padding: 0;
    margin: 0;
}
#main_log{
    display: flex;
    justify-content: center;
}
#header{
    width: 100%;
    position: fixed;
    background-color: aqua;
    justify-content: space-around;
    padding: 1rem;
    display: none;
    transition: all 0.3s linear;
}
